html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.detailWrap {
  flex: 1; /*relates to body*/
}
.fullDetail {
  display: flex;
}
#img, #info, #price {
  flex: 1;
}