.head{
  background-image: url(../imgs/bandb.jpeg);
}

.detailWrap {
  flex: 1; /*relates to body*/
}
.detailWrap a {
  text-decoration: none;
  color: black;
}
.fullDetail {
  display: flex;
  border: 2px solid black;
  border-radius: 4px;
  margin: 10px;
}
.img, .price {
  flex: 1;
  min-height: 200px;
}
.img {
  background-image: url(../imgs/rx7/front.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
}
.info {
  flex: 2;
  max-height: 200px;
  overflow-y: scroll;
}
.price {
}