/*Body CSS*/
html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
/*Header CSS*/
.head {
  flex: 1; /*relates to body*/
  height: 300px;
  width: 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-shadow: 10px 10px 5px #888888;
}
.headWrap {
  min-height: 100px;
  opacity: .60;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 0;
}
header nav {
  min-height: 100px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #3766D2;
}
/*Footer CSS*/
.footer {
  flex: 1; /*relates to the body*/
  min-height: 100px;
}
.footWrap {
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.footWrap div {
  flex: 1;
  margin: 5px;
}
.logoWrap {
  flex:1;
  max-width: 200px;
}
#logo {
  height: 100px;
  background: linear-gradient(to right, #1488cc, #2b32b2); 
}
.smWrap {
  flex: 2; /*relates to parent*/
  display: flex;
}
#fb, #tw, #ig, #yt, #gPlus {
  height: 100px;
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#fb {
  background-image: url(../imgs/fb.png);
}
#tw {
  background-image: url(../imgs/tw.png);
}
#ig {
  background-image: url(../imgs/ig.png);
}
#yt {
  background-image: url(../imgs/yt.png);
}
#gPlus {
  background-image: url(../imgs/gPlus.png);
}