/*SlideShow CSS*/
.sSWrap {
  flex: 1; /*relates to the body*/
  min-height: 800px;
}
.sS {
  height: 800px;
  width: 100%;
  margin: 5px;
  position: relative;
  background-size: cover;
  z-index: -1;
}
.sS img {
  position: absolute;
  height: 800px;
}
.content {
  flex: 2; /*relates to the body*/
}
/*Flexbox middle*/
.gWrap {
  display: flex; /*relates to its class*/
  flex-wrap: wrap;
/*  width: 700px;
*/}
.gWrap div {
  flex: 1; /*relates to all the divs in the class*/
  border: 1px solid black;
  margin: 5px;
}
.gBlockOne {
  display: flex; /*relates to its self*/
  flex-direction: column;
}
#tOne {
  flex: 1; /*relates to parent*/
  display: flex /*relates to self*/
}
#bOne {
  flex: 1; /*relates to parent*/
}
#one #two {
  flex: 1; /*relates to parent*/
}
#one {
  background: red;
  height: 200px;
  min-width: 200px;
}
#two {
  background: orange;
  height: 200px;
  min-width: 200px;
}
#three {
  background: green;
  height: 200px;
  display: flex;
}
.gBlockTwo {
  display: flex; /*relates to self*/
  flex-direction: column;
}
#four {
  background: blue;
  min-height: 400px;
  min-width: 200px;
  perspective: 1000;
}
#four:hover .flip {
  transform: rotateY(180deg);
}
.front, .back {
  height: 100%;
}
.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  transform: rotateY(0deg);
  background: orange;
}
.back {
  transform: rotateY(180deg);
  background: blue;
}
#five {
  background: lime;
  min-width: 400px;
  height: 200px;
}
#six #seven {
  flex: 1;
}
#six {
  background: fuchsia;
  min-width: 300px;
  height: 200px;
}
#seven {
  background: crimson;
  min-width: 100px;
  height: 200px;
}
#eight {
  min-width: 600px;
  height: 200px;
  display: flex; /*relates to self*/
}
.sold {
  flex: 1;
}
#sOne, #sTwo, #sThree, #sFour {
  background-size: cover;
  background-position: 0 60%;
}
#sOne {
  background-image: url(../imgs/acegend.jpg);
}
#sTwo {
  background-image: url(../imgs/redae86.jpg);
  background-position: 0 70%;
}
#sThree {
  background-image: url(../imgs/rx3.jpg);
}
#sFour {
  background-image: url(../imgs/sc300.jpg);
}
#sOne:hover, #sTwo:hover, #sThree:hover, #sFour:hover {
  opacity: 0.8;
}
/*Footer CSS*/
.footer {
  flex: 1; /*relates to the body*/
  min-height: 100px;
}
.footWrap {
  display: flex;
}
.footWrap div {
  flex: 1;
  border: 1px solid black;
  margin: 5px;
}
.logoWrap {
  flex:1;
  max-width: 200px;
}
#logo {
  height: 100px;
  background: linear-gradient(to right, #1488cc, #2b32b2); 
}
.smWrap {
  flex: 2; /*relates to parent*/
  display: flex;
}
#fb, #tw, #ig, #yt, #gPlus {
  height: 100px;
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#fb {
  background-image: url(../imgs/fb.png);
}
#tw {
  background-image: url(../imgs/tw.png);
}
#ig {
  background-image: url(../imgs/ig.png);
}
#yt {
  background-image: url(../imgs/yt.png);
}
#gPlus {
  background-image: url(../imgs/gPlus.png);
}

